{% extends "base.html" %}

{%block head%} {%endblock%}

{% block body %}

<style type="text/css">

    form {
        max-width: 460px;
        margin: 20px auto;
        padding: 20px;
    }

    #scan {
        color: #000;
        font-size: 20px;
    }

    #dati {
        font-size: 20px;
    }

    #btn {
        background-color:#8c52ff;
    }

    /* label focus color */
    .input-field input:focus + label {
    color: #8c52ff !important;
    }
    /* label underline focus color */
    .row .input-field input:focus {
    border-bottom: 1px solid #8c52ff !important;
    box-shadow: 0 1px 0 0 #8c52ff !important
    }
    
</style>

<nav class="white z-depth-0">
    <div class="containter">
        <h1 class="black-text brand-logo brand-text center"><b>ACCEDI</b></h1>
    </div>
</nav>

<section class="container col-12">
    <form class="white" action="login" method="post">
        {% csrf_token %}
        <p class="center" id="dati">Inserisci i dati!</p>
        <div class="card-panel grey lighten-2">  
            <div class="card-content">
                <div class="row">
                    <div class="input-field s1">
                        <input class="input-field" id="first_name" type="text" class="validate" name="tessera">
                        <label for="first_name" id="lab">N° Tessera</label>
                    </div>
                </div>
                <input id="btn" class="btn brand" type="submit" name="{% url 'login' %}" value="submit">
            </div>
        </div>
        <p class="col-12 center" id="scan"><b>Oppure scannerizza la tessera!</b></p>
        <div class="card-panel grey lighten-2">  
            <div class="card-content center">
                <input id="btn" class="btn brand" type="submit" name="" value="Avvia scan">
            </div>
        </div>
    </form>
</section>
{% endblock %}
